@tailwind base;
@layer base {
  a {
    cursor: pointer;
  }

  html {
    @apply text-gray-600 font-brown;
  }

  .blogContent > p {
    @apply my-9 overflow-hidden;
  }

  video {
    @apply max-w-full;
  }

  .wp-block-embed__wrapper {
    @apply max-w-sm !important;
  }

  iframe {
    @apply max-w-full max-h-96  aspect-video;
  }
}

@tailwind components;
@tailwind utilities;

/* Brown Font Family */

@font-face {
  font-family: 'Brown';
  src: url('/fonts/Brown-Regular.eot');
  src: url('/fonts/Brown-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Brown-Regular.woff2') format('woff2'),
    url('/fonts/Brown-Regular.woff') format('woff'),
    url('/fonts/Brown-Regular.svg#Brown-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Brown-Bold';
  src: url('/fonts/Brown-Bold.eot');
  src: url('/fonts/Brown-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Brown-Bold.woff2') format('woff2'),
    url('/fonts/Brown-Bold.woff') format('woff'),
    url('/fonts/Brown-Bold.svg#Brown-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Brown-Light';
  src: url('/fonts/Brown-Light.eot');
  src: url('/fonts/Brown-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Brown-Light.woff2') format('woff2'),
    url('/fonts/Brown-Light.woff') format('woff'),
    url('/fonts/Brown-Light.svg#Brown-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Canela-Light';
  src: url('/fonts/Canela-Light.eot');
  src: url('/fonts/Canela-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Canela-Light.woff2') format('woff2'),
    url('/fonts/Canela-Light.woff') format('woff'),
    url('/fonts/Canela-Light.svg#Canela-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'SweetSansPro-Bold';
  src: url('/fonts/SweetSansPro-Bold.eot');
  src: url('/fonts/SweetSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SweetSansPro-Bold.woff2') format('woff2'),
    url('/fonts/SweetSansPro-Bold.woff') format('woff'),
    url('/fonts/SweetSansPro-Bold.svg#SweetSansPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'SweetSansPro-Regular';
  src: url('/fonts/SweetSansPro-Regular.eot');
  src: url('/fonts/SweetSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SweetSansPro-Regular.woff2') format('woff2'),
    url('/fonts/SweetSansPro-Regular.woff') format('woff'),
    url('/fonts/SweetSansPro-Regular.svg#SweetSansPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'ScarletWhaleys';
  src: url('/fonts/ScarletWhaleys.eot');
  src: url('/fonts/ScarletWhaleys.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ScarletWhaleys.woff2') format('woff2'),
    url('/fonts/ScarletWhaleys.woff') format('woff'),
    url('/fonts/ScarletWhaleys.svg#ScarletWhaleys') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

#scrollers::-webkit-scrollbar {
  display: none;
  width: 0;
}

.mc-form {
  width: 100%;
}

.mc-form > input {
  width: 100%;
  padding: 12px 12px 8px 12px;
}

.mc-form > button {
  background-color: #39b99b;
  padding: 12px 12px 8px 12px;
  color: white;
  text-transform: uppercase;
  font-family: brown-bold;
  width: 100%;
}

@media screen and (min-width: 500px) {
  .mc-form > input {
    width: 70%;
  }

  .mc-form > button {
    width: fit-content;
  }
}
